@import "./variables"

// basic style
base-style()
  html 
    font-size: 100px
  body
    margin: 0; padding: 0
  p, div, span 
    font-size: .16rem
  *
    font-family: 'Helvetica Neue', 'Helvetica', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif
    box-sizing: border-box

// different align container
flex-align(horizontal, vertical)
  display: flex
  justify-content: horizontal
  align-items: vertical

// fixed height div with text vertical center
center-text-div(container-height, font-size)
  height: container-height
  line-height: container-height
  font-size: font-size
  vertical-align: middle
